<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Projet Symfony{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/sil18vitrine/bootstrap-3.3.7-dist/css/bootstrap.css') }}" type="text/css" />
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="{{ url('accueil') }}">Acceuil <span class="sr-only">(current)</span></a></li>
                  <li><a href="{{ url('mentions') }}">Mentions</a></li>
                  <li><a href="{{ url('catalogue') }}">Catalogue</a></li>
                </ul>
            </div><!-- /.container-fluid -->
        </nav>
        <div class="row">
            <div class="col-xs-12" id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>